# Arquivos específicos
commands-sql.txt
HELP.md

# Build
/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Logs
logs/
*.log
*.log.*

# Arquivos temporários
*.tmp
*.temp

# Configurações locais
application-local*.properties
application-dev*.yml
/config/application-*.yml

# Dependências
/lib/

# Sistema operacional
.DS_Store
Thumbs.db

# Ambiente
.env

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/