# Files
commands-sql.txt
HELP.md
m7_descricao.txt
require.txt

# Build
/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Logs
logs/
*.log
*.log.*

# Temp files
*.tmp
*.temp

# Local configuration
application-local*.properties
application-dev*.yml
/config/application-*.yml

# Dependencies
/lib/

# Operational system
.DS_Store
Thumbs.db

# Environment
.env
env.vars

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
../.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/